apiVersion: apps/v1
kind: Deployment
metadata:
  name: student-deployment
spec:
  replicas: 1
  selector:
    matchLabels:
      app: student
  template:
    metadata:
      labels:
        app: student
    spec:
      containers:
      - name: student
        image: us-central1-docker.pkg.dev/edutrack-479805/edutrack-repo/student-service:v1
        resources:
         requests:
          cpu: 250m
          memory: 512Mi
         limits:
          cpu: 500m
          memory: 1Gi
        env:
        - name: DB_HOST
          value: "127.0.0.1"
        - name: DB_PORT
          value: "5432"
        - name: DB_USER
          valueFrom:
            secretKeyRef:
              name: db-credentials
              key: username
        - name: DB_PASSWORD
          valueFrom:
            secretKeyRef:
              name: db-credentials
              key: password
        ports:
        - containerPort: 3000
        readinessProbe:
          httpGet:
            path: "/health"
            port: 3000
          initialDelaySeconds: 5
          periodSeconds: 10
      - name: cloudsql-proxy
        image: gcr.io/cloudsql-docker/gce-proxy:1.32.0
        resources:
         requests:
           cpu: 100m
           memory: 256Mi
         limits:
          cpu: 200m
          memory: 512Mi
        command:
        - "/cloud_sql_proxy"
        - "-instances=edutrack-479805:us-central1:edutrack-sql=tcp:5432"
        - "-credential_file=/secrets/key.json"
        volumeMounts:
        - name: cloudsql-instance-credentials
          mountPath: /secrets
          readOnly: true
      volumes:
      - name: cloudsql-instance-credentials
        secret:
          secretName: cloudsql-sa-key
